/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: blueviolet;
}

.cabecalho{
    text-align: center;
    color: orange
}

.titulo{
    font-weight: bold;
    font-size: 32px;
    color: yellow;
}

.subtitulo{
    color: rgb(243, 75, 255);
}

.conteudo{
    background-color: aqua;
    color: brown;
}

.conteudo p {
    color: #E4005A;
    font-size: 42px;
}

#especial{
    color: purple;
}